#numpy>=1.21.0
#torch>=1.9.0
#transformers>=4.15.0
faiss-cpu>=1.7.0
#librosa>=0.8.1
python_speech_features>=0.6
#scikit-learn>=0.24.2
#matplotlib>=3.4.3
speechbrain>=0.5.12
#jupyter>=1.0.0 
#tensorflow>=2.6.0
#tensorflow_hub>=0.12.0
audiomentations>=0.16.0